[submodule "bundle-available/pastebin-vim"]
	path = bundle-available/pastebin-vim
	url = https://github.com/mattn/pastebin-vim.git
[submodule "bundle-available/pyflakes-vim"]
	path = bundle-available/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle-available/vim-debug"]
	path = bundle-available/vim-debug
	url = https://github.com/jabapyth/vim-debug.git
[submodule "bundle-available/vim-extradite"]
	path = bundle-available/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle-available/vim-fugitive"]
	path = bundle-available/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimbundle"]
	path = vimbundle
	url = https://github.com/freevoid/vimbundle.git
[submodule "bundle-available/vim-colors-solarized"]
	path = bundle-available/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle-available/bufexplorer"]
	path = bundle-available/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
